<h1>Welcome to Blocipedia</h1>

<section class="main">
  <%= @wikis.each do |wiki| %>
    
    <div class="wiki-index">
      <%= link_to wiki.title, wiki_path(wiki.id) %>
      <% if policy(wiki).update? %>
        <span class="edit"><%= link_to "edit", edit_wiki_path(wiki.id) %></span>
      <% end %>
    </div>

  <% end %>
</section>

<% if current_user %>
  <h1>My Wikis</h1>

  <% @personal_wikis.each do |wiki| %>
    <div class="my-wikis">
      <%= link_to wiki.title, wiki_path(wiki.id) %>
      <% if policy(wiki).update? %>
        <span class="edit"><%= link_to "edit", edit_wiki_path(wiki.id) %></span>
      <% end %>
    </div>

  <% end %>
<% end %>